main{
    padding-top: 100px;
    font-family: 'Proxima Nova Condensed', sans-serif;
}
.center{
    width: 50%;
    margin: 0 auto;
}

/* Images */
.images_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    margin-bottom: 100px;
}
.next_to{
    display: flex;
    gap: 2vw;
}
.images_container img{
    pointer-events: none;
    width: 40vw;
    box-shadow: 5px 5px 10px #a0a0a0;
}

/* Accordion */
.accordion{
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  
  cursor: pointer;
  font-size: 15px;
  background-color: #eee;
  color: #444;
}
.active, .accordion:hover {
    background-color: #c9c9c9; 
}
.acc_answer {
    color: #000;
    display: none;
    padding: 10px 18px 15px 18px;
    background-color: #e0e0e0;
}

@media (max-width:1000px){
    .center{
        width: 80%;
    }
}